# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Install strix
      run: pipx install strix-agent
    - name: Run Strix
      env:
          STRIX_LLM: "openai/gpt-5.1"
          LLM_API_KEY: ${{ secrets.OPENAI_KEY }}
      run: strix -n -t ./
    - name: Upload jar artifact
      uses: actions/upload-artifact@v4
      with:
        name: my-app-jar
        path: target/*.jar
